header{
    div{
        background-color: map-get($paletaColores,fondoBarras);
        height: 5rem;
        position: sticky;
        top: 0;
        @include flex (row,space-around,center,1rem)
        }
        #menu-check{
            display: none;
        }
        #menu{
            display: none;
        }
    }


