.mainIndex{
    .backgroundIndex{
        text-align: left;
        background-image: url(../assets/fondos-h1/fondo-index.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .tituloIndex{
            height: 25rem;
            width: 100%;
            padding: 14rem 0rem 0rem 4rem;
            @include font(amaranth,$l,100,none,map-get($paletaColores,fuentePrincipal),.125rem .125rem map-get($paletaColores,fuenteSecundariaclara));
            &:first-letter{
                text-transform: capitalize;
            }
        }
    }
    .viryaArt{
        background-image: linear-gradient(to left top, #8cecd4, #87e7cf, #82e2ca, #7ddec6, #78d9c1, #6fd1b9, #67cab1, #5ec2a9, #4fb69c, #40aa8f, #309e82, #1d9275);
            @include flex(row,center,center,.625rem);
            flex-wrap: nowrap;
            .mandala{
                margin-left: 3rem;
                width: 15rem;
                animation-name: mandala-animation;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 4s;
                transition: all 4000ms linear;
            }
            p{
                padding: 1rem 10rem;
                color: #e8ecf4;
            }
            button{
                margin-left: 10rem;
            }
            button:hover{
                transform: scale(1.2);
            }
        }


    .section-eventos{
        .eventos-car{
            width: vw;
            height: 100%;
            @include flex(row,none,center,0);
            text-align: center;
            margin-bottom: 1rem;
            .text-car-desc{
                h3{
                    @include font(allerta,$l,100,none,map-get($paletaColores,fuenteSecundaria),.125rem);  
                    &:first-letter{
                        text-transform: capitalize;
                    }
                }
            }
            .carousel{
                h4{
                    @include font(amaranth,$m,100,uppercase,map-get($paletaColores,fuentePrincipal),.125rem .125rem .125rem .125rem map-get($paletaColores,fuenteSecundaria));  
                    background-color: map-get($paletaColores,fondoTraslucido)
                }
                p{
                    @include font(amaranth,$l,100,none,map-get($paletaColores,fuentePrincipal),.125rem);
                    background-color: map-get($paletaColores,fondoTraslucido)
                }
                img{
                    height: 50%;
                    width: 50%;
                }
            }
        }
    }
}

@keyframes mandala-animation {
    0%{
        filter: sepia(5);
        transform: rotate(90deg);
    }
    50%{
        filter: saturate(1);
        scale: (1.2);
    }
    100%{
        filter: sepia(3);
    }
}
