.mainIndex{
    .backgroundIndex{
        text-align: left;
        background-image: url(../assets/fondos-h1/fondo-index.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0;
        .tituloIndex{
            height: 25rem;
            width: 100%;
            padding: 14rem 0rem 0rem 4rem;
            @include font(amaranth,$l,100,none,map-get($paletaColores,fuentePrincipal),.125rem .125rem map-get($paletaColores,fuenteSecundariaclara));
            &:first-letter{
                text-transform: capitalize;
            }
        }
    }
    .articuloLogo{
        .viryaArt{
            background-image: url(../assets/img-index/mandala.png) ;
            background-repeat: repeat;
            div{
                @include flex(column,center,center,.625rem);
                text-justify: center;
                p{
                    align-content: center;
                    padding: 1rem 3rem;
                    background-color: map-get($paletaColores,fondoTraslucido);
                    @include font($fuentePrincipal,$xl,700,none,map-get($paletaColores,fuenteOscura),.125rem .125rem .125rem .125rem map-get($paletaColores,fuenteSecundaria));  
                }
                button{
                    background-color: map-get($paletaColores,fondoOscuro);;
                }
                button:hover{
                    transform: scale(1.2);
                }
            }
            
        }
    } 
    .section-eventos{
        h2{
            margin: 0;
        }
        .eventos-car{
            background: map-get($paletaColores, fondoOscuro);
            height: 100%;
            @include flex(row,center,center,0);
            text-align: center;
            padding: 1rem 4rem;
            .text-car-desc{
                h3{
                    @include font(allerta,$l,100,none,map-get($paletaColores,fuentePrincipal),.25rem .25rem .25rem .25rem map-get($paletaColores,fuenteSecundaria));  
                    &:first-letter{
                        text-transform: capitalize;
                    }
                    margin: 0rem 1rem;
                }
            }
            .carousel{
                h4{
                    @include font(amaranth,$m,100,uppercase,map-get($paletaColores,fuentePrincipal),.125rem .125rem .125rem .125rem map-get($paletaColores,fuenteSecundaria));  
                    background-color: map-get($paletaColores,fondoTraslucido)
                }
                p{
                    @include font(amaranth,$l,100,none,map-get($paletaColores,fuentePrincipal),.125rem);
                    background-color: map-get($paletaColores,fondoTraslucido)
                }
                .carousel-item {
                    width: 25rem;
                    height: 100%;
                    overflow: hidden;
                }
                .carousel-inner{
                    max-width: 25rem;
                }
            }
        }
    }
}
