$paletaColores:(
    fondoBarras:#61d0b4,
    fondoOscuro:  #1d9275,
    fondoClaro: #66b19f53,
    fondoMenu: #69A898,
    fondoTraslucido: rgba(255, 255, 255, 0.4),
    fuentePrincipal: white,
    fuenteSecundaria:  #333333,
    fuenteSecundariaclara:rgba(51, 51, 51, 0.36),
);

