main{
    p{
        @include font(allerta,$l,100,none,map-get($paletaColores,fuenteSecundaria),none);
        &:first-letter{
            text-transform: capitalize;
        }
    }
    button{
    background-color: map-get($paletaColores,fondoBarras);
    padding: .9375rem;
    border-width: .125rem;
    border-color: map-get($paletaColores,fuentePrincipal);
    border-radius: 1.25rem;
    margin: 1rem;
        a{
            text-decoration: none;
            @include font(amaranth,$xl,100,capitalize,map-get($paletaColores,fuentePrincipal),.125rem .125rem map-get($paletaColores,fuenteSecundariaclara));
        }
    }

    h2{
        width: 100%;
        padding: 1rem 0rem;
        @include font(amaranth,$xl,200,uppercase,map-get($paletaColores,fuentePrincipal),.125rem .125rem map-get($paletaColores,fuenteSecundariaclara));
        background-color: map-get($paletaColores,fondoBarras);
        text-align: center;
    }


}