@media (max-width: 320px){
    /**Generales**/
    header{
        div{
            height: 4rem;
            img{
                width: 100%;
                height: 100%;
            }
            #menu{
                font-size: $xs;
                width: 1.5rem;
            }
            .navBar{
                ul{
                    font-size: $s;  
                }
            }
        }
    }
    main{
        h1{
            font-size: $s;
        }
        h2{
            font-size: $m;
        }
        h3{
            font-size: $s;
        }
        p{
            font-size: $xs;
        }
    }
    footer{
        flex-direction: column;
    }
    /**Index**/
    .mainIndex{
        .backgroundIndex{
            .tituloIndex{
                padding: 2rem 0rem 1rem 1rem;
                font-size: 1rem;
                height: 50%;
                width: 100%;
            }
        }
        .viryaArt{
            button{
                a{
                    font-size: $xs;
                }
            }
        }
        .section-eventos{
            .eventos-car{
                flex-direction: column;
            }
        }
    }

    /**Formaciones**/
    .mainFormaciones{
        .backgroundFormaciones{
            .tituloFormaciones{
                padding: 1rem 0rem 3rem 2rem;
                font-size: 1rem;
                height: 50%;
                width: 100%;
            }
        }
        .profesorado{
            h3{
                font-size: $xs;
            }
            div{
                h4{
                    font-size: $xs;
                }
            }
        }
        .autoconocimiento{
            h3{
                font-size: $xs;
            }
            .auto__desc{
                margin: 1rem 2rem;
            } 
        }
        .taller{
            h3{
                font-size: $xs;
            }
        }
    }

    /**Horarios**/
    .mainHorarios{
        .backgroundHorarios{
            .tituloHorarios{
                padding: 2rem 0rem 1rem 1rem;
                font-size: 1rem;
                height: 50%;
                width: 100%;
            }
        }
        .grid{
            .gridHorarios{
                @include grid(1fr,auto,center,center,"div1"
                "div6"
                "div14"
                "div2"
                "div7"
                "div12"
                "div17"
                "div3"
                "div8"
                "div10"
                "div15"
                "div4"
                "div13"
                "div18"
                "div5"
                "div9"
                "div11"
                "div16"
                "div19");
                .div20{
                    display: none;
                }
                .div21{
                    display: none;
                }
                .div22{
                    display: none;
                }
                .div23{
                    display: none;
                }
            }
        }
    }

    /**Blog**/
    .mainBlog{
        .backgroundBlog{
            .tituloBlog{
                padding: 3rem 0rem 1rem;
                font-size: 1rem;
                height: 50%;
                width: 100%;
            }
        }
        .articulos{
            h3{
                text-align: center;
            }
            .artUno{
                flex-direction: column;
                h3{
                    font-size: $s;
                }
                button{
                    font-size: $xs;
                }
            }
            .artDos{
                flex-direction: column;
                h3{
                    font-size: $s;
                }
                button{
                    font-size: $xs;
                }
            }
            .artTres{
                flex-direction: column;
                h3{
                    font-size: $s;
                }
                button{
                    font-size: $xs;
                }
            }
            .artCuatro{
                flex-direction: column;
                h3{
                    font-size: $s;
                }
                button{
                    font-size: $xs;
                }
            }
        }
    }

    /**Contacto**/
    .mainContacto{
        .backgroundContacto{
            .tituloContacto{
                padding: 2rem 0rem 1rem;
                font-size: 1rem;
                height: 50%;
                width: 100%;
            }
        }
        .contacto{
            p{
                font-size: $xs;
            }
        }
    }

}